* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(
      180deg,
      rgba(26, 28, 27, 1) 0%,
      rgba(102, 103, 102, 1) 100%
    )
    fixed;
  --white-color: #fff;
  --header-color: #1a1c1b;
  --main-color: #bbee9a;
  --sub-color: #cec8c8;
}

html {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: rgb(26, 28, 27);
  background: var(--background-color);
}

/* Landing page */
.container {
  opacity: 1;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  position: relative;
}

/*  Header  */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: var(--header-color);
  border-bottom: 1px solid black;
}

.nav-bar {
  display: 1;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 2em;
  flex: 0.3;
  font-weight: bold;
  color: var(--white-color);
  font-size: 3vw;
  height: 100%;
}

.title span {
  margin-left: 5px;
}
.title img {
  width: 2.5vw;
}

.nav-menu {
  display: flex;
  flex: 0.7;
  align-items: center;

  width: 7vw;
  height: 100%;
}

.menu {
  margin-left: 1em;
  display: flex;
  padding: 5px;
  align-items: center;
  width: 7vw;
  height: 100%;
  justify-content: center;
}

.menu span {
  display: block;
  font-weight: regular;
  color: var(--white-color);
  font-size: 1.5vw;
  padding: 5px;
}

.menu span:hover {
  cursor: pointer;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 2vh;
  margin-left: auto;
  margin-right: 2em;
}

/* hero banner */
.hero-banner {
  width: 100%;
  height: 90%;
  position: relative;
  background: url('./image/banner/salon-image11.svg') no-repeat;
  background-position: 56% top;
}

section {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.main-text {
  left: 15px;
  position: absolute;
  top: 220px;
}

.main-text span {
  display: block;
  font-size: 7vw;
  color: var(--main-color);
  font-weight: bold;
}

.sub-text {
  color: var(--white-color);
  position: absolute;
  top: 300px;
  left: 30px;
}

.sub-text span {
  letter-spacing: 1px;
  line-height: 2.5;
}

.book {
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
}

.background-image {
  display: block;
}

.red-circle {
  position: absolute;
  left: 80px;
  top: 50px;
  display: none;
}

.blue-circle {
  position: absolute;
  left: 15px;
  bottom: 300px;
  display: none;
}

.green-circle {
  position: absolute;
  right: 15px;
  bottom: 180px;
  display: none;
}

.hero-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(26, 28, 27, 1);
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.information {
  flex: 0.4;
  margin-left: 1em;
}

.information span {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2vw;
}

.shop-info {
  display: flex;
  flex-direction: column;
}

.shop-info span {
  color: var(--sub-color);
  font-weight: 300;
  font-size: 1.3vw;
}

.business-time {
  flex: 0.35;
}

.business-time h2 {
  color: var(--white-color);
  font-size: 2vw;
  font-weight: bold;
}

.date-time1 {
  display: flex;
  flex-direction: column;
}

.date-time2 {
  display: flex;
  align-items: center;
}

.date-time1 span {
  color: var(--sub-color);
  font-weight: 300;
  font-size: 1vw;
  margin-left: 10px;
}

.date-time2 span {
  color: var(--sub-color);
  font-weight: 300;
  font-size: 1vw;
  margin-left: 10px;
  /* letter-spacing: 1px; */
}

.icons {
  flex: 0.25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 1em;
  width: 100%;
  height: 100%;
}
.icons:hover {
  cursor: pointer;
}

.instagram {
  margin-right: auto;
}
.twitter {
  margin-left: auto;
}
.facebook {
  margin-left: auto;
  margin-right: auto;
}

.icons img {
  width: 5vw;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  outline-style: none;
}

button:hover {
  /* background: transparent; */
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding: 3px;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}
button:hover,
button:focus {
  outline: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

a:link {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .title {
    display: flex;
    align-items: center;
    margin-left: 2em;
    flex: 0.3;
    font-weight: bold;
    color: var(--white-color);
    font-size: 30px;
    height: 100%;
    /* display: none; */
  }
  .title img {
    height: 4vh;
  }

  .main-text span {
    display: block;
    font-size: 80px;
    color: var(--main-color);
    font-weight: bold;
  }
  .sub-text {
    color: var(--white-color);
    position: absolute;
    top: 340px;
    left: 40px;
  }
  .sub-text span {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

/* Sign up Page */
.signup {
  height: 100%;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

form span {
  font-size: 20px;
  color: var(--white-color);
}

form input {
  margin-top: 40px;
  background-color: #1a1c1b;
  height: 50px;
  width: 330px;
  position: relative;
  border: none;
  color: var(--white-color);
}

form button {
  margin-top: 40px;
  height: 50px;
  width: 330px;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

::placeholder {
  color: var(--sub-color);
  opacity: 0.6;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 3 00;
  font-size: 15px;
  transform: translate(-50%, -50%);
}

form h5 {
  color: var(--white-color);
  font-weight: 300;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

form h5 span {
  margin-left: 20px;
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
}

input {
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Login */

.forgot-pass-link {
  text-decoration: underline;
}
.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-links span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* course */
.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.course-main {
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  margin-left: 40px;
}

.course-title {
  display: flex;
  /* justify-content: center; */
  font-weight: bold;
  color: var(--white-color);
  margin-left: 10px;
}

.course-text {
  color: var(--sub-color);
}

.course-card {
  margin-top: 3px;
  /* border: solid 1px; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.course-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.course-text {
  margin-left: 10px;
}

.course-text span {
  font-size: 15px;
  font-weight: 300;
}

.button-position {
  margin-left: auto;
  width: 100%;
  display: flex;
}

.book-button {
  margin-top: 10px;
  height: 32px;
  width: 120px;
  background-color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

/* book screen */
.book-title {
  color: var(--white-color);
  font-weight: 300;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-page {
  display: flex;
  flex-direction: column;

  margin-bottom: auto;
  height: 100%;
  width: 100%;
}

.choose-barber {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

.barber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barber img {
  height: 95px;
  width: 95px;
  cursor: pointer;
}

.barber span {
  color: var(--white-color);
  font-weight: 300;
}

.calendar {
  margin-left: 20px;
  margin-top: 20px;
}

.calendar-title {
  font-weight: 300;
  color: var(--white-color);
}

.hair-dresser-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  padding: 30px;
}

.avatar {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.avatar img {
  height: 100px;
  width: 100px;
}

.avatar span {
  color: var(--white-color);
  font-weight: 300;
}

.introduction span {
  color: var(--white-color);
  font-weight: 300;
}

.hairdresser-book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hairdresser-book button {
  height: 50px;
  width: 330px;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.confirm h1 {
  font-weight: 300;
  color: var(--white-color);
  font-size: 20px;
}

/* .confirm-details {
  display: flex;
  justify-content: space-between;
} */

.confirm-barber-date h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barber-confirm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.barber-confirm span {
  color: var(--sub-color);
}

.confirm-card {
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.confirm-date span {
  color: var(--white-color);
}

.confirm-button {
  height: 50px;
  width: 330px;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
